@import './styles//base';
@import './styles/variables';
@import './styles//mixins';



h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}


.App{

	width: 100vw;
	height: 100vh;

	.login-page, .signup-page {
		display: grid;
		place-items: center;
		@include div-flex-column;
		text-align: center;
		height: 80vh;

		div{
			height: 100%;
			@include div-flex-column;

			h2 {
				font-size: 50px;
				font-weight: 300;
			}

			form {
				@include div-flex-column;
				margin-top: 3em;
				gap: 2em;
				
				button {
					@include button-style;
					&:hover {
						background-color: $bg-button-hover;
					}
				}

				input {
					@include input-style;
					outline: none;
				}

			}
		}
	}

	.landmark {
		
		
		form{

			@include div-flex-row;
			position: absolute; 
			padding: 10px; 
			width: 100%;
			bottom: 20px;
			
			button {
				@include button-style;
				&:hover {
					background-color: $bg-button-hover;
				}
			}

			input {
				@include input-style;
				outline: none;
				flex: 1;
			}
		}
	}

}